
HW4/.idea/

HW4/docker/db/data



HW7/OlympicGames/OlympicGamesApp/.idea/
HW7/OlympicGames/OlympicGamesApp/OlympicGamesApp/bin
HW7/OlympicGames/OlympicGamesApp/OlympicGamesApp/obj
HW7/OlympicGames/OlympicGamesDatabase/.idea/
HW7/OlympicGames/OlympicGamesDatabase/docker/db/data/